* {-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 100%;
	height: 100vh;
	text-align: center;
	background-color: #DADACE;
}

#imgbkgr {
	background-image: url(../img/img6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
}

.row {
	margin: 0;
}

header {
	width: 100%;
	height: 5em;
	text-align: center;
	font-family: 'Inconsolata', monospace;
	background: #1DA1F2;
	color: #FFF;
}

header > h1 {
	margin: 0px;
}

.appCont {
	padding-top: 2em;
}

.profile {
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	background-color: #FFF;
	padding: 1em;
	font-size: 1em;
	margin-bottom: 2em;
	border-radius: 1em 5em;
}

.profile > img {
	max-width: 150px;
	height: auto;
	border-radius: 10em;
}

.profile > p > a {
	text-decoration: none;
	color: #1DA1F2;
}

.tweeting {
	width: 100%;
	min-height: 13em;
	font-family: 'Raleway', sans-serif;
	background-color: #FFF;
	border-radius: 1em;
}

#tweetbox {
	width: 90%;
	min-height: 7em;
	margin: 1.5em 0 1em;
}

.countBtnCont {
	display: inline-flex;
	align-items: baseline;
	margin-left: 45%;
}

#btn {
	background-color: #1DA1F2;
	padding: 0.5em 1em 0em;
	color: #FFF;
	border-radius: 1em;
  margin-left: 1em;
  outline: none;
  margin-bottom: .5em;
  font-family: 'Raleway', sans-serif;
}

#tweet-cont {
	margin-top: 1em;
	width: 111%;
	margin-left: -1em;
}

#tweet-cont > div {
	padding: 1em 0.5em;
	margin-bottom: 2em;
	background-color: #FFF;
	margin: 20px auto;
	margin-right: 5%;
	font-family: 'Raleway', sans-serif;
	border-radius: 1em;
}

@media (max-width: 992px) {
	p {
		font-size: 2.4em;
	}
}
